* {
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-wrap: nowrap;
}

 .left {
    width: 65%;
    background: url("/images.png");
    background-repeat: no-repeat;
    height: 60em; 
}

 .right{
    margin-left: auto;
    margin-right: auto;
    margin-top: 7em;
    width: 30%;
    background-color: #fff;
    height: 100vh;
}

.heading {
    margin-left: 5em;
   
}

.heading h2{
    font-family: 'Crimson Pro', serif; 
    color: #2F80ED;
    font-size: 2em;
}

 .new{
    margin-top: 2em;
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    margin-left: 2.7em;
    line-height: 1.5em;
    color: #101828  !important;
}

.google-form {

}
.new-text{
    font-weight: 400;
    font-size: 14px;
    color: #98A2B3;
    font-family: inter;
    line-height: 20px;
    text-align: center;
}

.google-form form button{
    margin-top: 2em;
    padding-bottom: 2.2em;
    background-color: #fff;
    width: 97%;
    height: 3.7em;
    border-radius: 1em;
    color: #98A2B3;
    font-family: inter;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #D0D5DD;
 
}


.google-form .glogo img {
    width: 2em;
    height: 2em;
    position: relative;
    top: 0.7em;
    left:-0.3em;
   
}

 
.or-section {
    display:flex;
    margin-top: 4em;
    
}

.or-text {
    font-family: inter;
    font-weight: 400;
    font-size: 14px;
    color: #98A2B3;
    margin-bottom: 2em;
    position: relative;
    top:-0.45em;
}


.or-section .orleft {
    width: 45%;
    height: 2px;
    background-color: #EAEBEC;
    margin-right: 10px;
}

.or-section .or-right {
    width: 45%;
    height: 2px;
    background-color: #EAEBEC;
    margin-left: 8px;
}
/* 
.signup-form  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    font-family: inter;
    font-weight: 400;
    width: 100%;
    background-color: #98A2B3;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

i {
    margin-right: 10px;
} */


.signup-form form{
    background-color: #fff;
   
}

label {
    font-family: inter;
    color: #2F80ED;
    display: block;
    margin-bottom: 8px;
}

/* .input-group {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
} */

 /* .input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #555;
} */

 .input-group input {
    width: calc(105% - 30px);
    padding: 10px;
    padding-left: 40px;
    background-color: #F2F2F2;
    font-family: inter;
    font-style: normal;
    font-size: 1em;
    font-weight: 400;
    border-radius: 0.65em;
    font-size: 16px;
    border:0px solid #F2F2F2;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #555;
} 
/* .input-group {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #555;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    padding-left: 40px;
    border: none;
    background-color: #F5F5F5;
    font-family: inter;
    font-style: normal;
    font-size: 1em;
    font-weight: 400;;
    border-radius: 0.65em;
    font-size: 16px;
} */



/* body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  } */
  
  /* .password-container {
    position: relative;
    display: flex;
    width:100%;
    margin-bottom: 15px;
    align-items: center;
  } */
 
  
  /* #password {
    width: 100%;
    padding: 10px;
    margin-left: 10px;
  } */
  
    .lock-icon,
    .eye-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }  

  /* .lock-icon {
    left: 5px;
    

  } */
  
  /* .eye-icon {
    right: 5px;
  } */





  /* .password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
} */



/* 
/* .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #555;
} */


/* 
.phone-input {
    display: flex;
    align-items: center;
}

.phone-input select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

.flag-icon {
    width: 24px;
    height: 24px;
    /* margin-right: 5px; */
/*} */


.phone-input {
    display: flex;
    align-items: center;
    
    border-radius: 4px;
    padding: 3px;
    background-color: #F2F2F2;



    width: calc(100% - 20px);
   
    font-family: inter;
    font-style: normal;
    font-size: 1em;
    font-weight: 400;;
    border-radius: 0.65em;
    font-size: 16px;
    border:0px solid #F2F2F2;
}

.phone-input select {
    border: 0px solid #F2F2F2;
    background-color: #F2F2F2;
    padding: 10px;
    border: 0 solid #ccc;
    color: #2F80ED;
    font-size: 14px;
    margin-right: 5px;

}

.phone-input input {
    height: 3em;
    flex-grow: 1;
    background-color: #F2F2F2;
    border: none;
   
}

.input-group {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}



.find below{

}
/* .password-container {
    position: relative;
    display: flex;
    width:100%;
    margin-bottom: 15px;
    
  }

.input-group .password-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #555;
}

.input-group .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #555;
} */


.forget-text {
    margin-top: 2.5em;
     margin-left: 2.4em;
     padding-bottom: 8em;
   /* margin-right: auto; */
    align-content: center;
    font-family: inter;
    font-style: normal;
    color: #98A2B3;
}

.forget-text .sign-in-text {
    color:#2F80ED;
    font-family: inter;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-decoration: underline;
}


.login-btn {
    margin-top: 1.3em;
    background-color: #2F80ED;
    width: 98%;
    height: 44px;
    border-radius: 1em;
    color: #fff;
    font-size: 14px;
    border: none;

}